#wpfig_gallery_src .wpfig_gallery_container{
    position: relative;
    box-sizing: border-box;
}


#wpfig_gallery_src .wpfig_gallery_container .wpfig_gallery_remove{
    position: absolute;
    top: 5px;
    left: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    
    text-align: center;
    padding: 0;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#wpfig_gallery_src .wpfig_gallery_list{
    overflow: hidden;
}
#wpfig_gallery_src .wpfig_gallery_list li{
    width: 32%;
    float: left;
    margin-left: 1%;
}

#wpfig_gallery_src .wpfig_gallery_list img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}