#wpfig-wrap .wpfig-image-wrap{
    position: relative;
    box-sizing: border-box;
}


#wpfig-wrap .wpfig-image-wrap .wpfig-image__remove{
    position: absolute;
    top: 5px;
    left: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    
    text-align: center;
    padding: 0;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#wpfig-wrap .wpfig-image-wrap .wpfig-image__remove:hover{
    background: rgb(238, 80, 52);
    color: white;
}
#wpfig-wrap .wpfig-image-wrap{
    overflow: hidden;
}
#wpfig-wrap .wpfig-image-wrap{
    width: 32%;
    float: left;
    margin-left: 1%;
}

#wpfig-wrap .wpfig-image-wrap img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}